.inner {
  text-align: center;
}

#photosphere{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#image_name{
  text-align: center;
  color: rgb(79, 129, 189);
  white-space: nowrap;
  margin-left: 11em;
  margin-top: 1.2em;
}

.widget.feature .feature-bgimg{
  height: 0px;
}

nav{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
}

ul{
 list-style-type: none;
  display:inline-block;
  vertical-align: top;
}
