<!doctype html>
<!--[if lt IE 7]>
	<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" lang="fr">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Viewer Instant Sphere</title>
	<meta name="keywords" content="" />
	<meta name="description" content="Borne photo libre service à 360°" />
	<meta http-equiv="content-language" content="fr" />

			<link rel="icon" href="//files.gandi.ws/8e/bc/8ebc3ee9-90f6-4ac8-8446-dffdb234d008.ico" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="//files.gandi.ws/8e/bc/8ebc3ee9-90f6-4ac8-8446-dffdb234d008.ico?v=1520790515" type="image/x-icon" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">


	<meta property="og:url" content="https://www.instant-sphere.com/">
	<meta property="og:title" content="Instant Sphere">
	<meta property="og:description" content="Borne photo libre service à 360°">
	<meta property="og:site_name" content="">

<meta name="generator" content="BaseKit">


    <link rel="canonical" href="https://www.instant-sphere.com">


            <link rel="stylesheet" href="//files.gandi.ws/1e/45/1e45ee74-9f3b-48bf-b614-9f4ebefab827.css">

<link rel="stylesheet" href="//55b558c7-resources.gandi.ws/175197f04c/compiled/photo-swipe.css">

<link rel="stylesheet" href="/assets/css/main.css" />




            <style
            class="js-webfont"
            data-woff-cache="//55b558c7-resources.gandi.ws/175197f04c/seven/fonts/lato.woff.json"
            data-ttf-cache="//55b558c7-resources.gandi.ws/175197f04c/seven/fonts/lato.ttf.json"
            data-fallback-stylesheet="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin"
            data-name="lato"
        ></style>
            <style
            class="js-webfont"
            data-woff-cache="//55b558c7-resources.gandi.ws/175197f04c/seven/fonts/pt_sans_narrow.woff.json"
            data-ttf-cache="//55b558c7-resources.gandi.ws/175197f04c/seven/fonts/pt_sans_narrow.ttf.json"
            data-fallback-stylesheet="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&amp;subset=latin"
            data-name="pt_sans_narrow"
        ></style>
    <script nonce="">
(function () {
    var fontCollections,
        fontsToCache,
        fallback = 1;

    function loadFontsAsynchronously() {
        if (!fallback) {
            return;
        }

        for (var i = 0, j = fontCollections.length; i < j; ++i) {
            var link = document.createElement('link'),
                head = document.getElementsByTagName('head')[0];
            link.rel = 'stylesheet';
            link.href = fontCollections[i].getAttribute('data-fallback-stylesheet');
            head.appendChild(link);
        }
    }

    function loadFontsFromStorage() {
        var localKey = 'published',
            format,
            collection,
            cachedFont;

        if (!window.localStorage) {
            return;
        }

        format = window.localStorage.getItem('bk.webfonts.format')
        if (!format) {
            return;
        }

        for (var i = 0, j = fontCollections.length; i < j; ++i) {
            collection = fontCollections[i];
            cacheKey = 'bk.webfonts.' + localKey + '.' + format + '.' + collection.getAttribute('data-name');
            cachedFont = window.localStorage.getItem(cacheKey);
            if (!cachedFont) {
                continue;
            }
            collection.innerHTML = cachedFont;
            collection.setAttribute('data-cache-full', 'data-cache-full');
        }
    }

    if (!'querySelectorAll' in window) {
        return;
    }

    fontCollections = document.head.querySelectorAll('.js-webfont');
    if (!'localStorage' in window || !'addEventListener' in window) {
        loadFontsAsynchronously();
        return;
    }

    loadFontsFromStorage();
}());
</script>

<link rel="stylesheet" href="/assets/css/photo-sphere-viewer.min.css">
<script src="/assets/js/three.min.js"></script>
<script src="/assets/js/D.min.js"></script>
<script src="/assets/js/doT.min.js"></script>
<script src="/assets/js/uevent.min.js"></script>
<script src="/assets/js/CanvasRenderer.js"></script>
<script src="/assets/js/Projector.js"></script>
<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@3.2.4/dist/photo-sphere-viewer.min.js"></script>


</head>
<body class="">


<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            <div id="page-zones__template-widgets__logo-logo" class="widget logo " data-widget-type="logo" data-uniqueid="page-zones__template-widgets__logo-logo">


<a href="/">

<div class="logo">
                        <img alt="logo" src="//resizer.gandi.ws/01/82/01820d20-97e0-4706-8497-e1db0cdfa043.png?w=960" style="width: 96px"  />
</div>
</a>

  <h1 id=image_name><strong>Voici l'image  <%= nom_fichier %>:</strong></h1>
</div>



        </div>

    </div>
</header>

<section>
        <div id="page-zones__template-widgets__feature-featurehome" class="widget feature " data-widget-type="feature" data-uniqueid="page-zones__template-widgets__feature-featurehome">


	<div class="content">
    <div class="inner">


    </div>
    <div id="photosphere"></div>
	</div>

<div class="feature-bgimg">
	<nav>
		<ul>
			<li><a href="https://instant-sphere.com/"><button>Accueil</button></a></li>
		</ul>
		<ul>
			<li><a href="https://server.instant-sphere.com/"><button>Autre code</button></a></li>
		</ul>
		<ul>
			<li>
				<form method="post" action="supprimer_img">

				<button  type="submit">Supprimer la photo</button>
			</li>
			</form>
		</ul>
		<ul>
			<li><a href="https://www.facebook.com/Instant.Sphere"><button>Contact</button></a></li>
		</ul>
	</nav>
</div>

</div>


<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                <div id="page-zones__template-widgets__content-footercolumn1content1" class="widget content " data-widget-type="content" data-uniqueid="page-zones__template-widgets__content-footercolumn1content1">
      <div class="bk-content-text js-text-content wysihtml-editor-content">
                <p>Instant Sphere
</p>
<p><a href="https://privacy.instant-sphere.com/" target="_self">Politique de confidentialité</a>
</p>
                </div>


</div>


            </div>
            <div class="column columns-two-right">
                <div id="page-zones__template-widgets__content-footercolumn2content1" class="widget content " data-widget-type="content" data-uniqueid="page-zones__template-widgets__content-footercolumn2content1">
      <div class="bk-content-text js-text-content wysihtml-editor-content">
                <h2>Suivez-nous sur : </h2>
                </div>


</div>


                <div id="page-zones__template-widgets__profile-footercolumn2profilesocialicons" class="widget profile " data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-footercolumn2profilesocialicons">















<div class='bk-profile-socialicons'>
    <!-- linkedIn -->

    <!-- Twitter -->
        <span class="bk-socialicons-twitter">
      <a href="https://twitter.com/Instant_Sphere" target="_blank">Twitter</a>
    </span>

    <!-- Instagram -->

    <!-- Pinterest -->

    <!-- Facebook -->
        <span class="bk-socialicons-facebook">
      <a href="https://www.facebook.com/Instant.Sphere" target="_blank">Facebook</a>
    </span>

    <!-- Rss -->

      <!-- Google+ -->

    <!-- youtube -->


</div>

</div>



            </div>
        </div>
    </div>
</footer>


	<script nonce="">
	App = {};
    App.i18n = {};
	App.session = {
		get: function(key)
		{
			var property = null;
			if (this.data[key] !== null && this.data[key] !== undefined)
			{
				return this.data[key];
			}
			return property;
		},
		data: {
			siteRef: 92711,
			domain: 'gandi.ws',
            brandRef: '1',
            assetBaseUrl: '//55b558c7-resources.gandi.ws/175197f04c',
            languageCode: 'fr',
            pageRef: 228359,
            pageLanguage: null		}
	}

    var Brand = Brand || {};
    Brand.googleMapsEmbedKey = "AIzaSyC8V96sGgzrasorg2xPOlrlp-cpQFPLSxM";
</script>

<script nonce="">
window["Server"] = {"app":{"resizerDomain":"resizer.gandi.ws","mode":"published","protocol":"https","maintenance":false,"deducedLocale":"fr_FR"},"componentTree":{"page":{"page-zones__main":{"page-zones__main-widgets__responsivecolumns":{"page-zones__main-widgets__responsivecolumns-zones__column":{"page-zones__main-widgets__responsivecolumns-zones__column-widgets__content":[]},"page-zones__main-widgets__responsivecolumns-zones__column1":{"page-zones__main-widgets__responsivecolumns-zones__column1-widgets__content":[]}}}}},"editorVersion":"seven","page":{"componentTree":{"page":{"page-zones__main":{"page-zones__main-widgets__responsivecolumns":{"page-zones__main-widgets__responsivecolumns-zones__column":{"page-zones__main-widgets__responsivecolumns-zones__column-widgets__content":[]},"page-zones__main-widgets__responsivecolumns-zones__column1":{"page-zones__main-widgets__responsivecolumns-zones__column1-widgets__content":[]}}}}},"request":"home","pageTree":[{"ref":"228359","request":"home","canonicalUrl":null,"title":"Instant Sphere","seo_title":"Instant Sphere","keywords":"","description":"","display_order":"1","type":"home","template_ref":"1","menu":"1","basekit_objects_ref":null,"modified":"2017-10-08 20:30:06","redirection":null,"priority":"1","changefreq":"monthly","can_publish":"1","headScript":"","bodyScript":"","status":"active","theme_ref":"1","color_swatch_ref":"1","font_swatch_ref":"1","password":null,"do_sub_page":"0","do_default":"0","templateType":"home","hiddenFromNavigation":"0","exclude_from_sitemap":"0","excludeFromPageLimit":"0","parentId":"0","language":null}],"backgroundClass":null,"customHead":[],"canonicalUrl":"https:\/\/www.instant-sphere.com","language":null,"ref":"228359","title":"Instant Sphere","titleInNavAndWidget":"Instant Sphere","description":"Borne photo libre service \u00e0 360\u00b0","type":"home","keywords":"","seoLang":"fr","templateType":"home","headScript":"","bodyScript":""},"pageTree":[{"ref":"228359","request":"home","canonicalUrl":null,"title":"Instant Sphere","seo_title":"Instant Sphere","keywords":"","description":"","display_order":"1","type":"home","template_ref":"1","menu":"1","basekit_objects_ref":null,"modified":"2017-10-08 20:30:06","redirection":null,"priority":"1","changefreq":"monthly","can_publish":"1","headScript":"","bodyScript":"","status":"active","theme_ref":"1","color_swatch_ref":"1","font_swatch_ref":"1","password":null,"do_sub_page":"0","do_default":"0","templateType":"home","hiddenFromNavigation":"0","exclude_from_sitemap":"0","excludeFromPageLimit":"0","parentId":"0","language":null}],"requestBase":"","cookieWarningUrl":"","plugins":{"assets":{"images":{"3154658":{"ref":3154658,"url":"https:\/\/files.gandi.ws\/96\/de\/96de8949-c497-467e-a6c6-aa07c9630cb2.png","fileName":"announce.png","fileType":"image","fileSize":46275,"title":null,"updated":{"date":"2017-10-08 21:47:46.000000","timezone_type":3,"timezone":"Europe\/London"},"description":null,"path":"96\/de\/96de8949-c497-467e-a6c6-aa07c9630cb2.png","imageWidth":960,"imageHeight":700,"deleted":false,"albumRef":null,"albumTitle":null,"providerRef":null,"compression":"none","compressedUrl":null},"3209173":{"ref":3209173,"url":"https:\/\/files.gandi.ws\/88\/bc\/88bc3c28-e148-4ca8-8415-08dddd24473f.jpg","fileName":"24197474325_e5d5945319_o.jpg","fileType":"image","fileSize":5220674,"title":null,"updated":{"date":"2017-12-13 21:47:22.000000","timezone_type":3,"timezone":"Europe\/London"},"description":null,"path":"88\/bc\/88bc3c28-e148-4ca8-8415-08dddd24473f.jpg","imageWidth":12800,"imageHeight":3088,"deleted":false,"albumRef":null,"albumTitle":null,"providerRef":null,"compression":"complete","compressedUrl":"https:\/\/files.gandi.ws\/32\/96\/3296fef6-0ff2-4b03-8ade-5e5ff7cd215d.jpg"},"3209180":{"ref":3209180,"url":"https:\/\/files.gandi.ws\/01\/82\/01820d20-97e0-4706-8497-e1db0cdfa043.png","fileName":"logo1024.png","fileType":"image","fileSize":53793,"title":null,"updated":{"date":"2017-12-13 22:17:24.000000","timezone_type":3,"timezone":"Europe\/London"},"description":null,"path":"01\/82\/01820d20-97e0-4706-8497-e1db0cdfa043.png","imageWidth":1024,"imageHeight":1024,"deleted":false,"albumRef":null,"albumTitle":null,"providerRef":null,"compression":"none","compressedUrl":null},"3248045":{"ref":3248045,"url":"https:\/\/files.gandi.ws\/ba\/ef\/baefb23c-f436-49f3-b68d-c74a33515a39.jpg","fileName":"20180203_014751.jpg","fileType":"image","fileSize":385727,"title":null,"updated":{"date":"2018-02-03 00:58:24.000000","timezone_type":3,"timezone":"Europe\/London"},"description":null,"path":"ba\/ef\/baefb23c-f436-49f3-b68d-c74a33515a39.jpg","imageWidth":2000,"imageHeight":1504,"deleted":false,"albumRef":null,"albumTitle":null,"providerRef":null,"compression":"none","compressedUrl":null}},"albums":{"":[3154658,3154658,3209173,3209173,3209180,3209180,3248045,3248045]}}},"desktopSite":{"protocol":"https","primaryDomain":{"domainName":"www.instant-sphere.com"}},"siteLanguages":null,"siteDefaultLanguage":null,"siteLanguageMenuSettings":null,"siteCurrentLanguage":null};
window["Profile"] = {"profile":{"business":"","headline":"","strapline":"","companydescription":"","copyright":"","address":"","address1":"","address2":"","postalcode":"","country":"","phone":"","twitter":"","linkedin":"","facebook":"","googleplus":"","youtube":"","rss":"","logo":"\/\/resizer.gandi.ws\/01\/82\/01820d20-97e0-4706-8497-e1db0cdfa043.png?w=960","logowidth":"","logoheight":"","yelpbusinessid":"","featureimage":"https:\/\/files.gandi.ws\/96\/de\/96de8949-c497-467e-a6c6-aa07c9630cb2.png","category":"","keywords":"","type":""}};
</script>

<script nonce="">
    Server.components = {"page-zones__main":{"ref":"3414162","uniqueHTMLId":"page-zones__main","name":"main","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.template","data":[],"className":"template","widget":{},"uniqueId":"65LHjlh7w49kNb9","parentUniqueId":null},"page-zones__main-widgets__responsivecolumns":{"ref":"3485349","uniqueHTMLId":"page-zones__main-widgets__responsivecolumns","name":"responsivecolumns","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.responsivecolumns","data":{"selectable":"0","isEmpty":"0","columns":"2","localClass":"widget-responsivecolumns-DH3KIC"},"className":"responsivecolumns","widget":{},"uniqueId":"iASpdH0PgRXUJ5C","parentUniqueId":"65LHjlh7w49kNb9"},"page-zones__main-widgets__responsivecolumns-zones__column":{"ref":"3485350","uniqueHTMLId":"page-zones__main-widgets__responsivecolumns-zones__column","name":"column","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.columns.column","data":[],"className":"columns.column","widget":{},"uniqueId":"t7NvYmZW3n8d2Ai","parentUniqueId":"iASpdH0PgRXUJ5C"},"page-zones__main-widgets__responsivecolumns-zones__column-widgets__content":{"ref":"3485352","uniqueHTMLId":"page-zones__main-widgets__responsivecolumns-zones__column-widgets__content","name":"content","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.content","data":{"lines":"all","content":"<p><span rel=\"font-size: 20px;\" style=\"font-size: 20px;\"><\/span>\n<\/p>\n<p><span style=\"font-size: 24px;\"><span style=\"color: rgb(79, 129, 189);\"><\/span><\/span><span style=\"font-size: 24px;\"><span style=\"color: rgb(79, 129, 189);\"><strong>Instant Sphere<\/strong> est une borne photo libre service <strong>\u00e0 360 degr\u00e9s<\/strong>.<\/span> <\/span><br>\n<\/p>\n<p style=\"text-align: justify;\"><span style=\"color: rgb(89, 89, 89);\">Placez-vous en cercle autour de la borne, d\u00e9clenchez le retardateur et ... souriez ! Une fois votre photo prise, fa\u00eetes glisser votre doigt pour visualiser le d\u00e9cor \u00e0 360\u00b0. Vous pouvez \u00e9galement partager votre photo \u00e0 360\u00b0 sur Facebook.<br>\n\t<\/span>\n<\/p>\n<p style=\"text-align: justify;\"><span style=\"color: rgb(89, 89, 89);\"><strong>Vous \u00eates organisateur d'\u00e9v\u00e9nements ?<\/strong> Instant Sphere permet \u00e0 vos convives de conserver un souvenir \u00e0 360\u00b0 de votre \u00e9v\u00e9nement ou c\u00e9l\u00e9bration.\n\t<\/span>\n<\/p>\n<p><span rel=\"font-size: 24px;\" style=\"font-size: 24px;\"><span style=\"color: rgb(242, 195, 20);\">Transformer l'exp\u00e9rience des voyageurs<\/span><br><\/span>\n<\/p>\n<p style=\"text-align: justify;\"><span style=\"color: rgb(89, 89, 89);\">Depuis le 30 janvier 2018, la <strong>gare SNCF de Bordeaux Saint-Jean<\/strong> accueille la premi\u00e8re borne Instant Sphere mise \u00e0 disposition gratuitement des voyageurs en vue de <strong>transformer l'exp\u00e9rience des voyageurs<\/strong> en gare.\n\t<\/span>\n<\/p>\n<p style=\"text-align: justify;\"><span style=\"color: rgb(89, 89, 89);\">Vous avez une remarque au sujet de cette exp\u00e9rimentation en gare ? N'h\u00e9sitez pas \u00e0 nous transmettre vos impressions <a href=\"mailto:contact@instant-sphere.com\" target=\"_self\">par e-mail<\/a>.<\/span><br>\n<\/p>\n<p style=\"text-align: justify;\"><br><span style=\"font-size: 20px;\"><\/span>\n<\/p>","type":"widget.content","localClass":"widget-content-2D9M5U"},"className":"content","widget":{},"uniqueId":"IEwxTDU2PYv5TxK","parentUniqueId":"t7NvYmZW3n8d2Ai"},"page-zones__main-widgets__responsivecolumns-zones__column1":{"ref":"3485351","uniqueHTMLId":"page-zones__main-widgets__responsivecolumns-zones__column1","name":"column1","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.columns.column","data":[],"className":"columns.column","widget":{},"uniqueId":"JNbIoTu0haRhItr","parentUniqueId":"iASpdH0PgRXUJ5C"},"page-zones__main-widgets__responsivecolumns-zones__column1-widgets__content":{"ref":"3485353","uniqueHTMLId":"page-zones__main-widgets__responsivecolumns-zones__column1-widgets__content","name":"content","fixed":false,"libraryItemRef":"0","pageRef":"228359","temporary":{},"changed":{},"type":"widget.content","data":{"lines":"all","content":"<blockquote style=\"text-align: center;\"><a href=\"\/\/files.gandi.ws\/ba\/ef\/baefb23c-f436-49f3-b68d-c74a33515a39.jpg\" class=\"js-redactor-image\" title=\"\" data-redactor-inserted-image=\"true\"><img class=\"js-pswp-image\" src=\"\/\/files.gandi.ws\/ba\/ef\/baefb23c-f436-49f3-b68d-c74a33515a39.jpg\" alt=\"\" style=\"margin: auto; display: block;\"><br><span style=\"color: rgb(127, 127, 127);\">Instant Sphere en gare de Bordeaux Saint-Jean.<\/span><\/a>\n<\/blockquote>","type":"widget.content","localClass":"widget-content-77FJ34"},"className":"content","widget":{},"uniqueId":"ydFm0SayCnA0ycL","parentUniqueId":"JNbIoTu0haRhItr"},"page-zones__template-widgets__logo-logo":{"debugMode":false,"ref":null,"uniqueHTMLId":"page-zones__template-widgets__logo-logo","name":"logo-logo","fixed":true,"libraryItemRef":null,"pageRef":null,"temporary":{},"changed":{},"type":"widget.logo","data":{"defaultlogo":"\/\/55b558c7-resources.gandi.ws\/175197f04c\/templates\/languagecourse\/images\/logo.png","preset":null,"presetRef":null,"showTplWidget":"1","useTemplate":"0","width":"96px"},"className":"logo","widget":{},"uniqueId":null,"parentUniqueId":null},"page-zones__template-widgets__feature-featurehome":{"debugMode":false,"ref":null,"uniqueHTMLId":"page-zones__template-widgets__feature-featurehome","name":"feature-featurehome","fixed":true,"libraryItemRef":null,"pageRef":null,"temporary":{},"changed":{},"type":"widget.feature","data":{"header":"Borne photo Instant Sphere","strapline":"Vos souvenirs \u00e0 360\u00b0","buttonText":"En savoir plus ","defaultBgImg":"\/\/55b558c7-resources.gandi.ws\/175197f04c\/templates\/languagecourse\/images\/feature-bg.jpg","positionTopPercentage":"50","showBtn":"1","preset":null,"presetRef":null,"showTplWidget":"1","useTemplate":"0","newBgImg":"https:\/\/files.gandi.ws\/88\/bc\/88bc3c28-e148-4ca8-8415-08dddd24473f.jpg","action":"mail","url":"mailto:contact@instant-sphere.com","target":"_self"},"className":"feature","widget":{},"uniqueId":null,"parentUniqueId":null},"page-zones__template-widgets__content-footercolumn1content1":{"debugMode":false,"ref":null,"uniqueHTMLId":"page-zones__template-widgets__content-footercolumn1content1","name":"content-footercolumn1content1","fixed":true,"libraryItemRef":null,"pageRef":null,"temporary":{},"changed":{},"type":"widget.content","data":{"content":"<p>Instant Sphere\n<\/p>\n<p><a href=\"https:\/\/privacy.instant-sphere.com\/\" target=\"_self\">Politique de confidentialit\u00e9<\/a>\n<\/p>","preset":null,"presetRef":null,"lines":"all","showTplWidget":"1"},"className":"content","widget":{},"uniqueId":null,"parentUniqueId":null},"page-zones__template-widgets__content-footercolumn2content1":{"debugMode":false,"ref":null,"uniqueHTMLId":"page-zones__template-widgets__content-footercolumn2content1","name":"content-footercolumn2content1","fixed":true,"libraryItemRef":null,"pageRef":null,"temporary":{},"changed":{},"type":"widget.content","data":{"content":"<h2>Suivez-nous sur : <\/h2>","preset":null,"presetRef":null,"lines":"all","showTplWidget":"1"},"className":"content","widget":{},"uniqueId":null,"parentUniqueId":null},"page-zones__template-widgets__profile-footercolumn2profilesocialicons":{"debugMode":false,"ref":null,"uniqueHTMLId":"page-zones__template-widgets__profile-footercolumn2profilesocialicons","name":"profile-footercolumn2profilesocialicons","fixed":true,"libraryItemRef":null,"pageRef":null,"temporary":{},"changed":{},"type":"widget.profile","data":{"profileType":"socialicons","preset":null,"presetRef":null,"socialIconsTwitter":"Instant_Sphere","socialIconsInstagram":"","socialIconsLinkedin":"","socialIconsFacebook":"https:\/\/www.facebook.com\/Instant.Sphere","socialIconsPinterest":"","socialIconsRss":""},"className":"profile","widget":{},"uniqueId":null,"parentUniqueId":null}};
    Server.desktopSite.getPrimaryDomainData = function ()
    {
        var keys = [],
            key = null,
            domain = null;

        if (this.primaryDomain !== null)
        {
            domain = this.primaryDomain.domainName;
        }
        else
        {
            bk$.each(this.domains, function(key)
            {
                keys.push(parseInt(key, 10));
            });

            key = Math.max.apply(null, keys);
            domain = this.domains[key] || null;
        }

        return {
            key : key,
            domain: domain
        };
    };
    Server.desktopSite.getPrimaryDomain = function ()
    {
        return this.getPrimaryDomainData().domain;
    };
    Server.customWidgetsDomain = '';
    Server.customWidgetVersions = null;
</script>

<script src="//55b558c7-resources.gandi.ws/52dd0bd/fr/translations.js?sections=widgets,mobile,shared_views,shared_components,cookie"></script>

    <script src="//55b558c7-resources.gandi.ws/175197f04c/compiled/published-site.js"></script>


<script src="//55b558c7-resources.gandi.ws/175197f04c/compiled/twig-widget-views-v1.js"></script>


<script nonce="">
(function () {

    fallback = 1;

    if (!'localStorage' in window ||
        !'querySelectorAll' in window ||
        !'addEventListener' in window
    ) {
        return;
    }

    function getFormat(ua) {
        if (ua.indexOf('android') > -1 && ua.indexOf('chrome') === -1) {
            return 'ttf';
        }

        return 'woff';
    }

    function removeObsoleteFontsFromStorage(storageKey) {
        var prefix;

        if (!window.localStorage) {
            return;
        }

        prefix = storageKey + '.' + window.localStorage.getItem('bk.webfonts.format');
        try {
            for (key in window.localStorage) {
                if (key.indexOf(storageKey) === 0) {
                    removeStorageItem(key, prefix)
                }
            }
        } catch (ex) {
        }
    }

    function removeStorageItem(storageKey, prefix) {
        var font,
            remove = true,
            fontCollections = document.head.querySelectorAll('.js-webfont');

        for (var i = fontCollections.length - 1; i >= 0; --i) {
            font = prefix + '.' + fontCollections[i].getAttribute('data-name');
            if (storageKey.indexOf(font) === 0) {
                remove = false;
            }
        }

        if (remove == true) {
            try {
                window.localStorage.removeItem(storageKey);
            } catch (ex) {
            }
        }
    }

    function loadFontAsynchronously(fontUrl) {
        var head = document.getElementsByTagName('head')[0],
            link = document.createElement('link');

        link.rel = 'stylesheet';
        link.href = fontUrl;
        head.appendChild(link);
    }

    window.addEventListener('load', function () {
        var i,
            localKey = 'published',
            storageKey = 'bk.webfonts.' + localKey,
            format,
            fontCollections,
            collection,
            request;

        removeObsoleteFontsFromStorage(storageKey);

        fontCollections = document.head.querySelectorAll('.js-webfont:not([data-cache-full="data-cache-full"])');
        if (fontCollections.length === 0) {
            return;
        }

        format = getFormat(navigator.userAgent);
        try {
            window.localStorage.setItem('bk.webfonts.format', format);
        } catch (ex) {
        }

        for (i = fontCollections.length - 1; i >= 0; --i) {
            fontCollection = fontCollections[i];
            (function(collection) {
                var json,
                    font,
                    content,
                    fonts = [];

                request = new XMLHttpRequest();
                request.open('GET', collection.getAttribute('data-' + format + '-cache'), true);
                request.onload = function () {
                    if (this.status === 200) {
                        try {

                            json = JSON.parse(this.response);
                            for (font = json.length - 1; font >= 0; --font) {
                                fonts.push(json[font].css);
                            }
                            content = fonts.join('');
                            collection.innerHTML = content;
                            window.localStorage.setItem(
                                storageKey + '.' + format + '.' + collection.getAttribute('data-name'), content
                            );
                            collection.setAttribute('data-cache-full', 'data-cache-full');
                        } catch (ex) {
                        }
                    }

                    if (fallback && this.status === 404) {
                        loadFontAsynchronously(collection.getAttribute('data-fallback-stylesheet'));
                    }
                };
                request.send();
            })(fontCollection);
        }
    }, false);
}());
</script>

<script nonce="">
    // Initilisation for the mobile editor happens here
    (function ()
    {
        jQuery.noConflict(true);
        bk$(document).ready(function ()
        {
            // get the site data here
            Site.Page.Widgets = Server.components;


            Site.Page.load();
        });
    }());
</script>

<script>
 var PSV = new PhotoSphereViewer({
    panorama: '<%= fullUrl %><%= nom_fichier %>',
    container: 'photosphere',
    caption: 'Gare Saint Jean</b>',
    loading_img: 'https://resizer.gandi.ws/01/82/01820d20-97e0-4706-8497-e1db0cdfa043.png?w=960',
    navbar: 'autorotate zoom download caption fullscreen gyroscope',
    default_fov: 70,
		min_fov: 20,
		max_fov: 130,
    mousewheel: true,
    size: {
			width: 700,
      height: 700
    }
  });
  </script>
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>


</body>
</html>


<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    $(document).on('mq4hsChange', function (e) {
        $(document.documentElement).toggleClass('no-touch', e.trueHover);
    });
</script>
<script src="//55b558c7-resources.gandi.ws/175197f04c/templates/languagecourse/js/mq4-hover-shim.js"></script>


<script type="text/javascript">
	! function () {
	    function supportsSVG() {
	        return !!document.createElementNS && !! document.createElementNS('https://www.w3.org/2000/svg', 'svg').createSVGRect
	    }
	    if (supportsSVG()) document.documentElement.className += ' svg'
	}()
</script>
